/* .product-grid .product-item:nth-child(4n + 1) {
    clear: left;
} */

.color-box {
    width: 33 px;
    height: 20px;
}

.popup .outer-container .close-btn {
	z-index: 999;
}

.swatch-color {
  display: block;
  height: 100%;
  width: 100%;
}

#Terms1 {visibility: visible;}	

.store-finder-map {
  width: 100%;
  height: 340px;
}

.product-list-container .filter-box .filter-container .filter-attributes .filter-item.selected-options {
    display: block;
}

.swatch-option > input[type="checkbox"] + label::before {display: none;}

.page-login .icon-my_account, .page-my-account .icon-my_account {
	color: #ee1a98;
}
html header .nav-wrapper .search-form .search-wrapper .serch-list-cover .search-list-wrap .ui-autocomplete {
	border: none
}
html header .nav-wrapper .search-form .search-wrapper .serch-list-cover .search-list-wrap .ui-autocomplete.ui-widget-content .btn {
  color: #fff;
}

/* social feed at homepage*/
.socialfeed {
	text-align: center;
	margin-bottom: 25px;
}
.socialfeed h2 {
	font-size: 30px;
	margin: 0 0 20px;
}
.socialfeed a {
	color: #999;
	font-size: 15px;
	line-height: 1;
	display: inline-block;
	width: 15px;
	margin-right: 20px;
	padding-bottom: 5px;
	vertical-align: top;
	position: relative;
}
.socialfeed i {
	display: block;
	font-size: 100%;
}
.socialfeed a:hover {	
	text-decoration: none;
	color: #000;
}
.socialfeed a:hover:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #ee1a98;
}
.socialfeed a img {
	display: inline-block;
	vertical-align: top;
}
@media (max-width: 480px) {
	.socialfeed h2 {
		font-size: 22px;
	}
}