@font-face {
    font-family: 'HelveticaNeue57Cn';
    src: url('../fonts/HelveticaNeueW01-57Cn.eot');
    src: url('../fonts/HelveticaNeueW01-57Cn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueW01-57Cn.woff') format('woff'),
        url('../fonts/HelveticaNeueW01-57Cn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueW01-57Cn.svg#HelveticaNeue57Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;line-height: 1.4;list-style-type: none}
html,body {margin: 0px;padding: 0px;border: 0px;font-family: "HelveticaNeue57Cn",Helvetica,Arial,sans-serif;}
img {max-width: 100%;height: auto;vertical-align: middle;}

.lj-top-nav {text-align: center;background: url(../img/top-nav-bg.jpg) repeat-x}
.lj-gifting-container {max-width: 1366px;margin: auto;}
.lj-gifts-content {position: relative;}
.lj-side-nav {position: absolute;z-index: 99;top:10%;left:0;display: table;top:50%;transform: translateY(-50%);width:30%}
.lj-side-nav > * {display: table-cell; vertical-align: middle}
.lj-sidebar {background-color: #001f32;width:18%}
.lj-side-menu {padding: 0 5px;}
.lj-side-menu > li {padding: 2px 0;}
.lj-side-menu > li:first-child {padding-top: 0}
.lj-side-menu > li:last-child {padding-bottom: 0}
.lj-side-menu > li > a {display: block;padding:10px;background:#fff;position: relative;height: 58px;width: 70px; -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */
    transition: width 0.3s;}
.lj-side-menu > li > a span{color:#fff; display:none;}
.lj-side-menu > li > a:after {content: "";position: absolute;right: -24px;top: 0;bottom: 0;border-left: 25px solid #fff;border-top: 28px solid transparent;border-bottom: 28px solid transparent;}
.lj-side-menu > li > a:hover,.lj-side-menu > li > a.active {background: #f22e78;width:175px;}
.lj-side-menu > li > a:hover:after,
.lj-side-menu > li > a.active:after
 {border-left-color: #f22e78;}
.lj-side-menu > li > a:hover span,.lj-side-menu > li > a.active span{display: inline-block;left: 65px;position: absolute;margin-top: 0;top: 15px;width: 100%;line-height: 30px;height: 26px;overflow: hidden;}
.lj-side-menu > li > a i {background: url(../img/menu-sprite.png) no-repeat; width: 44px;height:36px;display: inline-block;}
.lj-side-menu > li > a i.icon-yogi {background-position: 0 0}
.lj-side-menu > li > a:hover i.icon-yogi,
.lj-side-menu > li > a.active  i.icon-yogi{background-position: -46px 0}
.lj-side-menu > li > a i.icon-style {background-position: -90px 0}
.lj-side-menu > li > a:hover i.icon-style,
.lj-side-menu > li > a.active i.icon-style{background-position: -135px 0}
.lj-side-menu > li > a i.icon-travel {background-position: -180px 0}
.lj-side-menu > li > a:hover i.icon-travel,
.lj-side-menu > li > a.active i.icon-travel {background-position: -225px 0}
.lj-side-menu > li > a i.icon-cardio {background-position: -270px 0}
.lj-side-menu > li > a:hover i.icon-cardio,
.lj-side-menu > li > a.active i.icon-cardio{background-position: -315px 0}
.lj-side-menu > li > a i.icon-braedit {background-position: -360px 0}
.lj-side-menu > li > a:hover i.icon-braedit,
.lj-side-menu > li > a.active i.icon-braedit {background-position: -405px 0}
.lj-side-menu > li > a i.icon-fit {background-position: -450px 0}
.lj-side-menu > li > a:hover i.icon-fit,
.lj-side-menu > li > a.active  i.icon-fit{background-position: -495px 0}
.lj-side-menu > li > a i.icon-gift {background-position: -540px 0}
.lj-side-menu > li > a:hover i.icon-gift ,
.lj-side-menu > li > a.active i.icon-gift{background-position: -585px 0}
.lj-category-article {position: absolute; left: 27%;z-index: 2;max-width: 400px;top:50%;transform: translateY(-50%)}
.lj-category-article p {font-size: 20px;}
.lj-category-item:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.05);}

.slick-slide {outline: none !important;}
.slick-dotted.slick-slider {margin: 0;}
.slick-dots{width:auto;right: 20px;top:50%;transform: translateY(-50%);bottom: auto}
.slick-dots li button{width: 8px;height: 8px;}
.slick-dots li{display: block;margin: 0 auto;padding: 5px;width:auto;height: auto}
.slick-dots li button{border-radius: 50%;background-color: #666;padding: 5px;border: 2px solid #fff;    margin: 0 auto;}
.slick-dots li button:before {display: none}
.slick-dots li.slick-active button {border-color: #666;background: #fff;
    width: 20px;height: 20px;}

.inner_wrap img { border: 0 none;vertical-align: top; }


/*hotpost section*/
.lj-hotspot{
    position: absolute;
}
.lj-gift-item{
    position: relative;
}
.lj-hotspot .lj-hs-content{
    width: 545px;
    height: 360px;
    position: absolute;
    background: url(../img/popup-arrow.png) no-repeat right;
    display: none;
    right: 0;
    top: -180px;
}
.lj-hotspot .lj-hs-content.lj-alt{
    background: url(../img/popup-arrow-1.png) no-repeat right bottom;
    right: -50px;
    top: -250px;
}
.lj-hotspot .lj-hs-content.lj-alt-down{
    background: url(../img/popup-arrow-2.png) no-repeat right top;
    right: -50px;
    top: 0;
}
.lg-hs-image{
    width: 360px;
    height: 380px;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    border: 2px solid #fff;
    border-radius: 10px;
}
.lg-hs-close {background: #fff;right: -1px;top: -1px;padding:5px 10px;position: absolute;
    text-align: center;cursor:pointer}
.lg-hs-text{
    position: absolute;
    bottom: 30px;
    width:100%;
    top:0
}
.lg-hs-image h3 {    
    text-align: center;
    width: 100%;
    background: #fff;
    color: #666;
    padding: 9px;
    font-size: 17px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: table;
}
.lg-hs-image a{
    background: #f93587;
    color: #fff;
    padding: 7px 30px;
    width: auto;
    display: table;
    margin: 20px auto 0;
    text-transform: uppercase;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}
.lg-hs-image a:hover{
    background: #fff;
    color: #f93587;
}
.lj-hotspot-icon{width:30px;height:30px;position: absolute;right: 0;top: 0;z-index: 999;background: #08afa8;border-radius: 50%;text-decoration: none;z-index: 2;border: 5px solid rgba(255,255,255,1);
box-shadow: 0 0 0 1px #08afa8;}
.lj-hotspot-icon:after {content: '+';font-size: 23px;font-weight: bold;color: #fff;position: absolute;left: 0;
top: 50%;right: 0;text-align: center;transform: translateY(-56%);line-height: 1;}
.lj-hotspot-icon:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: transparent;border: 2px solid #fff;z-index: -5;border-radius: 50%;transform: scale(2);animation: pulse .4s ease 1;opacity:0}
.lj-hs-y1{
    right: 28%;
    bottom: 42%;
}
.lj-hs-y2{
    right: 14%;
    top: 36%;
}
.lj-hs-y3{
    right: 11%;
    bottom: 44%;
}
.lj-hs-y4{
    right: 24%;
    top: 36%;
}
.lj-hs-y5{
    right: 25%;
    bottom: 26%
}
.lj-hs-y6{
    right: 7%;
    top: 33%;
}
.lj-hs-y7{
    right: 10%;
    bottom: 24%;
}
.lj-hs-y8{
    right: 30%;
    top: 52%;
}
.lj-hs-s1{
    right: 20%;
    top: 70%;
}
.lj-hs-s2{
    right: 20%;
    top: 46%;
}
.lj-hs-s3{
    right: 24%;
    top: 71%;
}
.lj-hs-s4{
    right: 17%;
    top: 37%;
}
.lj-hs-s5{
    right: 15%;
    bottom: 32%;
}
.lj-hs-s6{
    right: 13%;
    bottom: 28%;
}
.lj-hs-s7{
    right: 14%;
    top: 26%;
}
.lj-hs-s8{
    right: 24%;
    bottom: 35%;
}
.lj-hs-s9{
    right: 21%;
    top: 34%;
}
.lj-hs-s10{
    right: 17%;
    bottom: 29%;
}
.lj-hs-t1{
    right: 21%;
    top: 7%;
}
.lj-hs-c1{
    right: 17%;
    bottom: 33%;

}
.lj-hs-c2{
    right: 17%;
    bottom: 33%;

}
.lj-hs-c3{
    right: 17%;
    top: 26%;
}
.lj-hs-c4{
    right: 19%;
    bottom: 47%;
}
.lj-hs-c5{
    right: 19%;
    bottom: 47%;
}
.lj-hs-b1{
    right: 19%;
    bottom: 44%;
}
.lj-hs-b2{
    right: 19%;
    top: 30%;
}
.lj-hs-b3{
    right: 19%;
    bottom: 32%;
}

@media screen and (max-width:1366px) {
.lj-hotspot-icon {width:2vw;height:2vw;border-width:0.4vw} 
.lj-hotspot-icon:after {font-size:1.5vw}  
.lj-category-article {max-width: 30%;}
.lj-category-article p {font-size: 1.48vw}
}

/* animation */
/* @keyframes pulse {
    0% {box-shadow: 0 0 0 1px rgba(8,175,168,0);}
    25% {box-shadow: 0 0 0 3px rgba(8,175,168,0.2.5);}
    50% {box-shadow: 0 0 0 5.5px rgba(8,175,168,0.5);}
    75% {box-shadow: 0 0 0 8px rgba(8,175,168,1);}
    100% {box-shadow: 0 0 0 12px rgba(8,175,168,0);}
} */
@keyframes pulse {
    0% {transform: scale(2);opacity: 1}
    25% {transform: scale(2.5);opacity: 0.75}
    50% {transform: scale(3);opacity: 0.5}
    75% {transform: scale(3.5);opacity: 0.25}
    100% {transform: scale(4);opacity: 0.0}
}
.lg-mob-only {
    display: none !important; 
}
.lg-desk-only {
    display: block !important; 
}
.lj-gift-item h2{
    display: none;
}
@media (max-width: 1024px) {
    .lj-sidebar .lg-mob-only{
        display: block !important; 
        margin: 0 auto;
    }
    .lj-sidebar .lg-desk-only{
        display: none !important; 
    }
    .lj-side-nav {
        position: relative;
        z-index: 99;
        left: auto;
        display: block;
        top: auto;
        transform: none;
        width: 100%;
    }
    .lj-sidebar {
        background-color: #001f32;
        width: 100%;
        display: block;
    }
    .lj-side-menu > li > a:hover span, .lj-side-menu > li > a.active span{
        display: none;
    }
    .lj-side-menu > li > a:hover, .lj-side-menu > li > a.active{
        width:100%;
    }
    .lj-side-menu {
        padding: 0 0;
        width: 100%;
        display: inline-block;
        margin: 0;
        border-bottom: 3px solid #f93587;
    }
    .lj-side-menu > li {
        padding:  0;
        width: calc(100%/7);
        float: left;
    }
    .lj-side-menu > li > a:after{
        content:none;
        display: none;
    }
    .lj-side-menu > li > a{
        width:100%;
        text-align: center;
    }
    .lj-category-article{
        max-width: 40%;
        left: 10%;
    }
    .lj-category-article p {
        font-size: 1.88vw;
        text-shadow:none;
    }
    .lg-hs-image{
        margin-left: 25%;
        margin-top: 12%;
        width: 230px;
        height: 280px;
    }
    .lg-hs-image h3{
        padding: 6px;
        font-size: 15px;
    }
    .lg-hs-text{
        bottom: 10px;
    }
    .lg-hs-image a{
        padding: 6px 30px;
        margin: 10px auto 0;
        font-size: 12px;
    }
    .slick-dots li{
        padding: 2px;
    }
}
@media (max-width: 900px) {
    .lg-hs-image {
        margin-left: 25%;
        margin-top: 12%;
        width: 230px;
        height: 260px;
    }
}
@media (max-width: 768px) {
    .lg-mob-only {
        display: block !important;
    }
    .lg-desk-only {
        display: none !important;
    }
    .lj-category-article{
        display: none !important;
    }
    .lj-gift-item h2{
        display: block;
        text-align: center;
    }
    .lj-hs-y4 {
        right: 44%;
        top: 36%;
    }
    .lj-hs-y1 {
        left: 49%;
        bottom: 42%;
    }
    .lj-hs-y2 {
        right: 24%;
        top: 36%;
    }
    .lj-hs-y3 {
        right: 17%;
        bottom: 44%;
    }

    .lj-hotspot {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0!important;
        bottom: 0!important;
        left: 0 !important;
    }
    
    .lj-hotspot .lj-hs-content{
        background: none!important;
        left:0!important;
        right:0!important;
        top:0!important;
        bottom:0!important;
        right:0!important;
        margin: auto!important;
        width: 365px;
        height: 360px;
    }
    .lg-hs-image {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
    }


    .lj-hs-y1 a {
        top: 60%;
        left: 45%;
    }
    .lj-hotspot.lj-hs-y2 > a {
        right: 24%;
        top: 33%;
    }
    .lj-hotspot.lj-hs-y3 > a {
        right: 14%;
        top: 59%;
    }
    .lj-hotspot.lj-hs-y4 > a {
        right: 44%;
        top: 33%;
    }
    .lj-hotspot.lj-hs-y8 > a {
        left: 40%;
        top: 55%;
    }
    .lj-hotspot.lj-hs-y7 > a {
        right: 13%;
        top: 75%;
    }
    .lj-hotspot.lj-hs-y6 > a {
        right: 20%;
        top: 40%;
    }
    .lj-hotspot.lj-hs-y5 > a {
        right: 50%;
        top: 74%;
    }
    .lj-hotspot.lj-hs-s1 > a {
        right: 31%;
        bottom: 27%;
        top: auto;
    }
    .lj-hotspot.lj-hs-s2 > a {
        top: 40%;
        right: 20%;
    }

    .lj-hotspot.lj-hs-s3 > a {
        top: auto;
        bottom: 10%;
        right: 20%;
    }  
    .lj-hotspot.lj-hs-s5 >
    a {
       bottom: 44%;
       top: auto;
       right: 30%;
   }
   .lj-hotspot.lj-hs-s4 >
    a{
       top: 26%;
       right: 30%;
    }
    .lj-hotspot.lj-hs-s6 > a {
        left: 60%;
        bottom: 10%;
        top: auto;
    } 
    .lj-hotspot.lj-hs-s8 > a {
        bottom: 31%;
        top: auto;
        right: 44%;
    }
    
    .lj-hotspot.lj-hs-s7 > a {
        top: 25%;
        right: 24%;
    }
    .lj-hotspot.lj-hs-s9 >
    a {
       right: 34%;
       top: 40%;
   }
   .lj-hotspot.lj-hs-s10 >
    a {
       right: 34%;
       bottom: 40%;
       top:auto;
   }
   .lj-hotspot.lj-hs-t1 > a {
        right: 40%;
        top: 3%;
    }
    .lj-hotspot.lj-hs-c1 > a {
        top: 60%;
        right: 20%;
    }
    .lj-hotspot.lj-hs-c2 > a {
        right: 34%;
        bottom: 10%;
        top: auto;
    }
    .lj-hotspot.lj-hs-c3 >
    a {
       right: 30%;
       top: 30%;
   }
   
   .lj-hotspot.lj-hs-c4 > a {
       right: 35%;
       top: 60%;
   }
   .lj-hotspot.lj-hs-c5 > a {
        right: 30%;
        top: 50%;
    }
    .lj-hotspot.lj-hs-b1 > a {
        right: 25%;
        top: 70%;
    }
    .lj-hotspot.lj-hs-b3 > a {
        right: 20%;
        bottom: 35%;
        top: auto;
    }
    .lj-hotspot.lj-hs-b2 > a {
        right: 20%;
        top: 40%;
    }
    .lj-hotspot-icon:after {font-size: 2.6vw}
    .lj-hotspot-icon {width: 4vw;height:4vw}
}
@media (max-width: 420px) {
.lj-hotspot .lj-hs-content{
    width: 250px;
    height: 250px;
}
}
@media (max-width: 360px)
{
    .lj-hotspot .lj-hs-content {
        width: 200px;
        height: 230px;
    }
    .lg-hs-image h3 {
        width: 100%;
        padding: 3px;
        font-size: 13px;
    }
    .lg-hs-image a {
        padding: 3px 20px;
        margin: 4px auto 0;
        font-size: 12px;
    }
}