@font-face {
    font-family: 'HelveticaNeue57Cn';
    src: url('../fonts/HelveticaNeueW01-57Cn.eot');
    src: url('../fonts/HelveticaNeueW01-57Cn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/HelveticaNeueW01-57Cn.woff') format('woff'),
        url('../fonts/HelveticaNeueW01-57Cn.ttf') format('truetype'),
        url('../fonts/HelveticaNeueW01-57Cn.svg#HelveticaNeue57Cn') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {box-sizing: border-box;line-height: 1.4;list-style-type: none}
html,body {margin: 0px;padding: 0px;border: 0px;font-family: "HelveticaNeue57Cn",Helvetica,Arial,sans-serif;}
img {max-width: 100%;height: auto;vertical-align: middle;}

.lj-top-nav {text-align: center;background: url(../img/top-nav-bg.jpg) repeat-x}
.li-banner-container > img {width: 1366px;position: relative;left: 50%;transform: translateX(-50%);max-width: none;}
.lj-gifting-container {max-width: 1366px;margin: auto;}
.li-banner-container{max-width: 1366px;margin: auto;text-align: center;padding: 0 0 10px;overflow: hidden;}
.lj-gifts-content {position: relative;}
.lj-side-nav {position: absolute;z-index: 99;top:10%;left:0;display: table;top:50%;transform: translateY(-50%);width:30%}
.lj-side-nav > * {display: table-cell; vertical-align: middle}
.lj-sidebar {background-color: #001f32;width:18%}
.lj-side-menu {padding: 0 5px;}
.lj-side-menu > li {padding: 2px 0;}
.lj-side-menu > li:first-child {padding-top: 0}
.lj-side-menu > li:last-child {padding-bottom: 0}
.lj-side-menu > li > a {display: block;padding:5px;background:#f5cbd5;position: relative;height: 50px;width: 50px; -webkit-transition: width 0.3s; /* For Safari 3.1 to 6.0 */transition: width 0.3s;}
.lj-side-menu > li > a span{color:#fff; display:none;}
.lj-side-menu > li > a:after {content: "";position: absolute;right: -24px;top: 0;bottom: 0;border-left: 24px solid #f5cbd5;border-top: 23px solid transparent;border-bottom: 27px solid transparent;}
.lj-side-menu > li > a:hover,.lj-side-menu > li > a.active {background: #f22e78;}
/*new css */
.lj-side-menu > li.yogi > a:hover,.lj-side-menu > li.yogi > a.active {width:150px;}
.lj-side-menu > li.style > a:hover,.lj-side-menu > li.style > a.active {width:150px;}
.lj-side-menu > li.travel > a:hover,.lj-side-menu > li.travel > a.active {width:150px;}
.lj-side-menu > li.cardio > a:hover,.lj-side-menu > li.cardio > a.active {width:150px;}
.lj-side-menu > li.bra > a:hover,.lj-side-menu > li.bra > a.active {width:150px;}
.lj-side-menu > li.collections > a:hover,.lj-side-menu > li.collections > a.active {width:150px;}
.lj-side-menu > li.collections > a:hover span, .lj-side-menu > li.collections > a.active span{top:7px;line-height: 18px;height: 40px;}

.lj-side-menu > li > a:hover:after,
.lj-side-menu > li > a.active:after
 {border-left-color: #f22e78;}
.lj-side-menu > li > a:hover span,.lj-side-menu > li > a.active span{display: inline-block;left: 43px;position: absolute;margin-top: 0;top: 10px;width: 100%;line-height: 30px;height: 26px;overflow: hidden;}
.lj-side-menu > li > a:hover span br, .lj-side-menu > li > a.active span br{line-height: 0;}
.lj-side-menu > li > a i {background: url(../img/menu-sprite-new.png) no-repeat; width: 36px;height:36px;display: inline-block;vertical-align: middle;}
.lj-side-menu > li > a i.icon-yogi {background-position: 0 0}
.lj-side-menu > li > a:hover i.icon-yogi,
.lj-side-menu > li > a.active  i.icon-yogi{background-position: -40px 0}
.lj-side-menu > li > a i.icon-style {background-position: -80px 0}
.lj-side-menu > li > a:hover i.icon-style,
.lj-side-menu > li > a.active i.icon-style{background-position: -113px 0}
.lj-side-menu > li > a i.icon-travel {background-position: -149px 0}
.lj-side-menu > li > a:hover i.icon-travel,
.lj-side-menu > li > a.active i.icon-travel {background-position: -186px 0}
.lj-side-menu > li > a i.icon-cardio {background-position: -230px 0}
.lj-side-menu > li > a:hover i.icon-cardio,
.lj-side-menu > li > a.active i.icon-cardio{background-position: -272px 0}
.lj-side-menu > li > a i.icon-braedit {background-position: -313px 0}
.lj-side-menu > li > a:hover i.icon-braedit,
.lj-side-menu > li > a.active i.icon-braedit {background-position: -352px 0}
.lj-side-menu > li > a i.icon-fit {background-position: -395px 0}
.lj-side-menu > li > a:hover i.icon-fit,
.lj-side-menu > li > a.active  i.icon-fit{background-position: -430px 0}
.lj-side-menu > li > a i.icon-gift {background-position: -540px 0}
.lj-side-menu > li > a:hover i.icon-gift ,
.lj-side-menu > li > a.active i.icon-gift{background-position: -585px 0}
.lj-category-article {position: absolute; left: 27%;z-index: 2;max-width: 400px;top:50%;transform: translateY(-50%)}
.lj-popup-overlay{position: absolute;top: 0;left: 0;right: 0;bottom: 0;opacity: 0.23;background: #000;display: none;}
.lj-category-article p {font-size: 18px;}
.lj-category-item:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: rgba(0,0,0,0.05);}

.slick-slide {outline: none !important;}
.slick-dotted.slick-slider {margin: 0;}
.slick-dots{width:auto;bottom: 15px;left: 0;right: 0;}
.slick-dots li button{width: 20px;height: 6px;}
.slick-dots li{display: inline-block;margin: 0 auto;padding: 5px;width:auto;height: auto}
.slick-dots li button{background-color:rgba(140,140,140,1);padding: 0px;margin: 0 auto;}
.slick-dots li button:before {display: none}
.slick-dots li.slick-active button {background: rgba(237,43,143,0.9);}

.inner_wrap img { border: 0 none;vertical-align: top; }


/*hotpost section*/
.lj-hotspot{
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    height: 100%;
}
.lj-gift-item{
    position: relative;
}
.lj-hotspot .lj-hs-content{
    width: auto;
    height: auto;
    position: absolute;
    display: none;
    top: 8.5%;
    right: 3%;
    /* z-index: 3; */
}
.lj-hotspot .lj-hs-content.cover{
    right: inherit;
    left: 16%;
}
.lj-hotspot .lj-hs-content.lj-alt{
    /*background: url(../img/popup-arrow-1.png) no-repeat right bottom;*/
    right: -50px;
    top: -250px;
}
.lj-hotspot .lj-hs-content.lj-alt-down{
    /*background: url(../img/popup-arrow-2.png) no-repeat right top;*/
    right: -50px;
    top: 0;
}
.lg-hs-image{
    width: 360px;
    height: auto;
    background: #fff;
    position: relative;
    overflow: hidden;
    z-index: 9999;
    padding: 2px;
}
.lg-hs-image:hover .lg-hs-text{display: block;bottom: 0;}
.lg-hs-close {background: #fff;right: -1px;top: -1px;padding:5px 10px;position: absolute;text-align: center;cursor:pointer;display: none;}
.lg-hs-text{
    position: absolute;
    bottom: -200px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: rgba(254,254,254,0.7);
    transition:all 0.5s ease;
}
.lg-hs-image h3 {    
    text-align: center;
    width: 100%;
    color: #151515;
    font-size: 18px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    font-weight: normal;
    text-transform: uppercase;
}
.lg-hs-image a{
    color: #151515;
    padding: 7px 30px;
    width: auto;
    margin: 15px auto 10px;
    text-transform: uppercase;
    text-decoration: none;
    position: static;
    border: 1px solid #151515;
    display: inline-block;
    position: relative;
    z-index: 1;
}
.lg-hs-image a:hover{
    border-color: #ee1a98;
    color: #ee1a98;
}
.lj-hotspot-icon{width:30px;height:30px;position: absolute;right: 0;top: 0;z-index: 999;border-radius: 50%;text-decoration: none;z-index: 2;/*border: 5px solid rgba(255,255,255,1);*/background: url('../img/hotspot.png') no-repeat;}
.lj-hotspot-icon.active{background: url('../img/hotspot-active.png') no-repeat;background-size: cover}
.lj-hotspot-icon:after {content: '';font-size: 23px;font-weight: bold;color: #fff;position: absolute;left: 0;
top: 50%;right: 0;text-align: center;transform: translateY(-56%);line-height: 1;}
.lj-hotspot-icon:before {content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;background: transparent;border: 2px solid #fff;z-index: -5;border-radius: 50%;transform: scale(2);animation: pulse .4s ease 1;opacity:0}


.lj-category-article> img{
    max-width: 70%;
}
.braedit .lj-category-article>img{
    max-width: 60%;
}
/*hotspot placement*/
.lj-y1-hs1>a{
    left: 74%;
    top: 45%;
}
.lj-y1-hs2>a{
    left: 83%;
    top: 62%;
}
.lj-y1-hs3>a{
    left: 72%;
    top: 85%;
}
.lj-y2-hs1>a{
    left: 23%;
    top: 61%;
}
.lj-y2-hs2>a{
    left: 43%;
    top: 36%;
}
.lj-y2-hs3>a{
    left: 51%;
    top: 59%;
}
.lj-y2-hs4>a{
    left: 32%;
    top: 36%; 
}
.lj-y3-hs1>a{
    left: 33%;
    top: 61%;
}
.lj-y3-hs2>a{
    left: 42%;
    top: 70%;
}
.lj-y4-hs1>a{
    left: 34%;
    top: 66%;
}
.lj-y5-hs1>a{
    left: 27%;
    top: 74%;
}
.lj-y5-hs2>a{
    left: 48%;
    top: 32%;
}
.lj-y5-hs3>a{
    left: 45%;
    top: 76%;
}
.lj-y5-hs4>a{
    left: 25%;
    top: 53%; 
}
.lj-y6-hs1>a{
    left: 26%;
    top: 52%;
}
.lj-y7-hs1>a{
    left: 38%;
    top: 62%;
}
.lj-y8-hs1>a{
    left: 38%;
    top: 52%;
}
.lj-y9-hs1>a{
    left: 38%;
    top: 62%;
}
.lj-y10-hs1>a{
    left: 38%;
    top: 34%;
}
.lj-y11-hs1>a{
    left: 33%;
    top: 59%;
}
.lj-y11-hs2>a{
    left: 28%;
    top: 31%;
}
.lj-y11-hs3>a{
    left: 41%;
    top: 60%;
}
.lj-y11-hs4>a{
    left: 46%;
    top: 29%;
}
.lj-y12-hs1>a{
    left: 40%;
    top: 62%;
}


/*style category*/
.lj-s1-hs1>a{
    left: 82%;
    top: 45%;
}
.lj-s1-hs2>a{
    left: 86%;
    top: 78%;
}
.lj-s2-hs1>a{
    left: 36%;
    top: 48%; 
}
.lj-s3-hs1>a{
    left: 36%;
    top: 68%; 
}
.lj-s4-hs1>a{
    left: 32%;
    top: 29%;
}
.lj-s5-hs1>a{
    left: 30%;
    top: 72%;
}
.lj-s6-hs1>a{
    left: 38%;
    top: 31%; 
}
.lj-s7-hs1>a{
    left: 40%;
    top: 37%;
}
.lj-s7-hs2>a{
    left: 43%;
    top: 68%;
}
.lj-s8-hs1>a{
    left: 41%;
    top: 65%;
}
.lj-s9-hs1>a{
    left: 45%;
    top: 25%;
}
.lj-s9-hs2>a{
    left: 33.5%;
    top: 62%;
}
.lj-s10-hs1>a{
    left: 36%;
    top: 56%; 
}
.lj-s11-hs1>a{
    left: 26%;
    top: 39%; 
}
.lj-s12-hs1>a{
    left: 36%;
    top: 68%; 
}
.lj-s13-hs1>a{
    left: 36%;
    top: 68%; 
}
.lj-s14-hs1>a{
    left: 34%;
    top: 38%; 
}
.lj-s15-hs1>a{
    left: 31%;
    top: 34%;
}
.lj-s15-hs2>a{
    left: 36%;
    top: 68%;
}

/*travel category*/
.lj-t1-hs1>a{
    left: 73%;
    top: 66%;
}
.lj-t2-hs1>a{
    left: 37%;
    top: 45%;
}
.lj-t3-hs1>a{
    left: 45%;
    top: 40%;
}
.lj-t4-hs1>a{
    left: 40%;
    top: 4%;
}
.lj-t5-hs1>a{
    left: 30%;
    top: 61%;
}
.lj-t6-hs1>a{
    left: 41%;
    top: 40%;
}
.lj-t7-hs1>a{
    left: 40%;
    top: 48%;
}

/*cardio category*/
.lj-c1-hs1>a{
    left: 76%;
    top: 67%;
}
.lj-c2-hs1>a{
    left: 30%;
    top: 57%;
}
.lj-c3-hs1>a{
    left: 31%;
    top: 33%;
}
.lj-c4-hs1>a{
    left: 32%;
    top: 30%;
}
.lj-c5-hs1>a{
    left: 46%;
    top: 53%;
}
.lj-c6-hs1>a{
    left: 40%;
    top: 68%;
}
.lj-c7-hs1>a{
    left: 41%;
    top: 34%;
}
.lj-c8-hs1>a{
    left: 33%;
    top: 25%;
}
.lj-c8-hs2>a{
    left: 36%;
    top: 49%;
}

/*bra category*/
.lj-b1-hs1>a{
    left: 80%;
    top: 67%;
}
.lj-b2-hs1>a{
    left: 41%;
    top: 44%;
}
.lj-b2-hs2>a{
    left: 31%;
    top: 65%;
}
.lj-b3-hs1>a{
    left: 41%;
    top: 54%;
}
.lj-b4-hs1>a{
    left: 36%;
    top: 47%;
}

/* limited collection category */
.lj-lc1-hs1>a{
    left: 56%;
    top: 47%;   
}
.lj-lc2-hs1>a{
    left: 80%;
    top: 43%;
}
.lj-lc3-hs1>a{
    left: 61%;
    top: 19%;
}
.lj-lc4-hs1>a{
    left: 58%;
    top: 38%;
}
.lj-lc5-hs1>a{
    left: 76%;
    top: 47%;
}
.lj-lc6-hs1>a{
    left: 64%;
    top: 47%;
}
.lj-lc7-hs1>a{
    left: 78%;
    top: 43%;
}
.lj-lc8-hs1>a{
    left: 80%;
    top: 44%;
}

@media screen and (max-width:1366px) {
.lj-hotspot-icon {width:3vw;height:3vw;border-width:0.4vw;background-size: cover} 
.lj-hotspot-icon:after {font-size:1.5vw}  
.lj-category-article {max-width: 30%;}
.lj-category-article p {font-size: 1.48vw}
.lj-hotspot .lj-hs-content {width:auto;top:50%;right:3%;transform: translateY(-50%);max-width: 35%}
.lg-hs-image {width:auto;}
}

/* animation */
/* @keyframes pulse {
    0% {box-shadow: 0 0 0 1px rgba(8,175,168,0);}
    25% {box-shadow: 0 0 0 3px rgba(8,175,168,0.2.5);}
    50% {box-shadow: 0 0 0 5.5px rgba(8,175,168,0.5);}
    75% {box-shadow: 0 0 0 8px rgba(8,175,168,1);}
    100% {box-shadow: 0 0 0 12px rgba(8,175,168,0);}
} */
@keyframes pulse {
    0% {transform: scale(2);opacity: 1}
    25% {transform: scale(2.5);opacity: 0.75}
    50% {transform: scale(3);opacity: 0.5}
    75% {transform: scale(3.5);opacity: 0.25}
    100% {transform: scale(4);opacity: 0.0}
}
.lg-mob-only {
    display: none !important; 
}
.lg-desk-only, .lj-category-article.lg-mob-only {
    display: block !important; 
}
.lj-gift-item h2{
    display: none;
}
@media (max-width: 1024px) {
.lj-side-menu > li.yogi > a:hover, .lj-side-menu > li.yogi > a.active {width: 146px;}
.lj-sidebar .lg-mob-only{display: block !important;margin: 0 auto;}
.lj-sidebar .lg-desk-only{display: none !important;}
.lj-side-nav {position: relative;z-index: 99;left: auto;display: block;top: auto;transform: none;width: 100%;}
.lj-sidebar {background-color: #001f32;width: 100%;display: block;}
.lj-side-menu > li > a:hover span, .lj-side-menu > li > a.active span{display: none;}
.lj-side-menu > li > a:hover, .lj-side-menu > li > a.active{width:100%;}
.lj-side-menu {padding: 0 0;width: 100%;display: inline-block;margin: 0;border-bottom: 3px solid #f93587;}
.lj-side-menu > li {padding:  0;width: calc(100%/6);float: left;}
.lj-side-menu > li > a:after{content:none;display: none;}
.lj-side-menu > li > a{width:100%;text-align: center;}    
.lj-category-article{max-width: 45%;left: 5%;}
.lj-category-article p {font-size: 1.88vw;text-shadow:none;}
/*.lg-hs-image{margin-left: 25%;margin-top: 12%;width: 230px;height: 280px;}*/
.lj-hotspot .lj-hs-content {max-width: 34%}
.lg-hs-image h3{padding: 6px;font-size: 15px;}
.lg-hs-text{bottom: 0;}
.lg-hs-image a{padding: 6px 30px;margin: 10px auto 0;font-size: 12px;}
.slick-dots li{padding: 2px 6px;}
.lj-side-menu > li.yogi > a:hover,.lj-side-menu > li.yogi > a.active, .lj-side-menu > li.style > a:hover,.lj-side-menu > li.style > a.active, .lj-side-menu > li.travel > a:hover,
.lj-side-menu > li.travel > a.active, .lj-side-menu > li.cardio > a:hover,.lj-side-menu > li.cardio > a.active, .lj-side-menu > li.bra > a:hover,.lj-side-menu > li.bra > a.active,
.lj-side-menu > li.collections > a:hover,.lj-side-menu > li.collections > a.active  {width:auto;}
.braedit .lj-category-article>img, .lj-category-article> img{max-width: 40%;}
}
@media (max-width: 900px) {
/*.lg-hs-image {margin-left: 25%;margin-top: 12%;width: 230px;height: 260px;}*/
}
@media (max-width: 768px) {
.slick-dots {position: static;padding-bottom: 10px;}    
.lg-mob-only {display: block !important;}
.lg-desk-only {display: none !important;}
.lj-category-article{display: none !important;max-width: 100%;left: 10%;right:10%;}
.lj-gift-item h2{display: block;text-align: center;font-weight: normal;margin: 15px 0;font-size: 26px;}
.lj-hs-y4 {right: 44%;top: 36%;}
.lj-hs-y1 {left: 49%;bottom: 42%;}
.lj-hs-y2 {right: 24%;top: 36%;}
.lj-hs-y3 {right: 17%;bottom: 44%;}
.lj-hotspot {position: absolute;width: 100%;height: 100%;top: 0!important;bottom: 0!important;left: 0 !important;}
.lj-hotspot .lj-hs-content{background: none!important;left:0!important;right:0!important;margin: auto!important;max-width:45%;z-index:3;}
.lg-hs-image {margin-left: 0;margin-top: 0;width: 100%;height: 100%;}
.lj-hotspot-icon:after {font-size: 2.6vw}
.lj-hotspot-icon {width: 4vw;height:4vw;}
.lj-category-article p {font-size: 3vw}
.lj-limited-section .lj-category-article {top: 10%;transform: none;}
.lg-hs-close {padding:1px 10px}
.lj-y1-hs1>a {left: 45%;top: 61%;}
.lj-y1-hs2>a {left: 52.5%;top: 73%;}
.lj-y1-hs3>a {left: 43%;top: 89%;}
.lj-y2-hs1>a {left: 38%;top: 55%;}
.lj-y2-hs2 > a {left: 59%;top: 36%;}
.lj-y2-hs3>a {left: 60%;top: 49%;}
.lj-y2-hs4>a {left: 43%;top: 36%;}
.lj-y3-hs1>a {left: 43%;top: 61%;}
.lj-y3-hs2>a {left: 52%;top: 70%;}
.lj-y4-hs1>a {left: 54%;top: 65%;}
.lj-y5-hs1>a {left: 37%;top: 74%;}
.lj-y5-hs3>a {left: 64%;top: 76%;}
.lj-y5-hs2>a {left: 68%;top: 32%;}
.lj-y5-hs4>a {left: 36%;top: 53%;}
.lj-y6-hs1>a {left: 36%;top: 54%;}
.lj-y7-hs1>a {left: 54%;top: 62%;}
.lj-y8-hs1>a {left: 53%;top: 52%;}
.lj-y9-hs1>a {left: 53%;top: 62%;}
.lj-y10-hs1>a {left: 44%;top: 34%;}
.lj-y11-hs1>a {left: 41%;top: 59%;}
.lj-y11-hs2>a {left: 43%;top: 49%;}
.lj-y11-hs3>a {left: 54%;top: 60%;}
.lj-y11-hs4>a {left: 54%;top: 49%;}
.lj-y12-hs1>a {left: 44%;top: 62%;}
.lj-s1-hs1>a {left: 75%;top: 46%;}
.lj-s1-hs2>a {left: 80%;top: 72%;}
.lj-s2-hs1>a {left: 49%;top: 39%;}
.lj-s3-hs1>a {left: 46%;top: 68%;}
.lj-s4-hs1>a {left: 44%;top: 29%;}
.lj-s5-hs1>a {left: 40%;top: 72%;}
.lj-s6-hs1>a {left: 54%;top: 32%;}
.lj-s7-hs1>a {left: 50%;top: 37%;}
.lj-s7-hs2>a {left: 56%;top: 68%;}
.lj-s8-hs1>a {left: 55%;top: 65%;}
.lj-s9-hs1>a {left: 58%;top: 25%;}
.lj-s9-hs2>a {left: 41.5%;top: 57%;}
.lj-s10-hs1>a {left: 48%;top: 56%;}
.lj-s11-hs1>a {left: 43%;top: 38%;}
.lj-s12-hs1>a {left: 45%;top: 67%;}
.lj-s13-hs1>a {left: 23%;top: 57%;}
.lj-s14-hs1>a {left: 44%;top: 46%;}
.lj-s15-hs1>a {left: 48%;top: 31%;}
.lj-s15-hs2>a {left: 56%;top: 58%;}
.lj-t1-hs1>a {left: 54%;top: 64.5%;}
.lj-t2-hs1>a {left: 46%;top: 41%;}
.lj-t3-hs1>a {left: 59%;top: 40%;}
.lj-t4-hs1>a {left: 52%;top: 4%;}
.lj-t5-hs1>a {left: 41%;top: 62%;}
.lj-t6-hs1>a {left: 57%;top: 47%;}
.lj-t7-hs1>a {left: 44%;top: 48%;}
.lj-c1-hs1>a {left: 45%;top: 67%;}
.lj-c2-hs1>a {left: 43%;top: 59%;}
.lj-c3-hs1>a {left: 35%;top: 37%;}
.lj-c4-hs1>a {left: 50%;top: 30%;}
.lj-c5-hs1>a {left: 53%;top: 34%;}
.lj-c6-hs1>a {left: 56%;top: 68%;}
.lj-c7-hs1>a {left: 56%;top: 32%;}
.lj-c8-hs1>a {left: 49%;top: 25%;}
.lj-c8-hs2>a {left: 52%;top: 41%;}
.lj-b1-hs1>a {left: 72%;top: 67%;}
.lj-b2-hs1>a {left: 79%;top: 44%;}
.lj-b2-hs2>a {left: 65%;top: 65%;}
.lj-b3-hs1>a {left: 49%;top: 52%;}
.lj-b4-hs1>a {left: 77%;top: 44%;}
}
@media (max-width: 540px) {
.li-banner-container > img {max-width: 200%}    
.slick-dots li {padding:2px 6px;}
.slick-dots li button {width: 15px;}
.lj-hotspot-icon {width: 5vw;height: 5vw;}
.lj-category-article p {font-size: 4vw}
}
@media (max-width: 420px) {
.slick-dots li {padding:2px 4px;}
.slick-dots li button {width: 12px;}
}
@media (max-width: 360px) {
.lg-hs-image h3 {width: 100%;padding: 3px;font-size: 13px;}
.lg-hs-image a {padding: 3px 20px;margin: 4px auto 0;font-size: 12px;}
}